body {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 18px;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 32px;
}

nav {
    text-align: center;
    font-size: 24px;
}

main {
    display: grid;
    place-items: center;
    height: 20vh;
    line-height: 1.5;
}
.description {
    width: 450px;
}

h3 {
    font-size: 24px;
    text-align: center;
}

ul,
li {
    font-size: 18px;
    margin-bottom: 10px;
}


img {
    height: 250px;
    width: 250px;
    border-radius: 12px;
}