body {
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 18px;
    height: 110vh;

}

nav {
    text-align: center;
    font-size: 24px;
}

a {
    text-decoration: none;
}

/* Optionally, you can style links on hover or focus */
a:hover,
a:focus {
    text-decoration: underline; /* Add underline on hover or focus if needed */
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 32px;
    padding: 0px;
    background-color: #fff;
}

.description {
    text-align: center;
    width: 350px;
    margin: 0px auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
}

h3 {
    font-size: 24px;
    text-align: center;
}

ul,
ol {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 20px;
   
}

img {
    height: 250px;
    width: 250px;
    border-radius: 12px;
}

.steps,
.ingredients {
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-radius: 8px;
}